/* header
-------------------------------- */
.header {
    text-align: center;
    background: linear-gradient(rgba(17,17,17,.7), rgba(17,17,17,.7)), url('../img/header/001-m.jpg') no-repeat;
    background-size: cover;

    &__wrapper {
        padding-top: 230px;
        padding-bottom: 220px;
    }
    
    &__title {
        margin: 0;
        font-family: $font-primary-medium;
        font-size: 24px;
        font-weight: normal;
        color: $text-secondary-color;
    }

    &__subtitle {
        margin: 0;
        margin-top: 15px;
        font-family: $font-primary-bold;    
        font-size: 40px;
        font-weight: normal;
        color: $text-secondary-color;
    }

    @include min($screen-sm) {
        &__wrapper {
            padding-top: 330px;
            padding-bottom: 320px;
        }
        &__title {
            font-size: 30px;
        }
        &__subtitle {  
            font-size: 45px;
        }
    }

    @include min($screen-md) {
        background: linear-gradient(rgba(17,17,17,.7), rgba(17,17,17,.7)), url('../img/header/001.jpg') no-repeat;
        background-size: cover;
    }

    @include min($screen-lg) {
        &__wrapper {
            padding-top: 400px;
            padding-bottom: 390px;
        }
        &__title {
            font-size: 36px;
        }
        &__subtitle {  
            font-size: 51px;
        }
    }
}