$fontRegular: Roboto-Regular;
$fontBold: Roboto-Bold;
$fontLight: Roboto-Light;
$fontColor: #222;

$primDark: orangered;
$primLight: #fff;
$secondDark: yellow;
$secondLight: #53bae5;

$small: 576;
$medium: 768;
$large: 992;
$extralarge: 1200;

$flex: flex;
$duration: .3s;
$borderRadius: 3px;
$opacity: .9;