nav.menu.-no-js(class=ext)
    ._wrapper
        +logo(false, 'menu')
        button._relay
        each val, idx in content.items || ['Home','About','Gallery','Blog','Contacts']
            if (idx === (content.active || 0))
                a(href="#")._item.-active= val
            else
                a(href="#")._item= val