/* menu
-------------------------------- */
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 53px;
    overflow: hidden;
    z-index: 100000;
    transition: height $duration;
    background-color: rgba(0,0,0,.8);

    &__wrapper {
        padding: 0;
        border-bottom: 5px solid $primDark;
        background-color: #fff;
    }

    & &__logo {
        display: inline-block;
        margin: 15px 20px;
    }

    &__relay {
        float: right;
        width: 22px;
        height: 14px;
        margin: 19px 20px;
        padding: 0;
        cursor: pointer;
        border: none;
        border-top: 2px solid $fontColor;
        border-bottom: 2px solid $fontColor;
        background-color: transparent;
        &::before {
            content: '';
            display: block;
            height: 2px;
            background-color: $fontColor;
        }
        &:hover {
            border-color: $primDark;
            &::before {
                background-color: $primDark;
            }
        }
    }

    &__item {
        display: inline-block;
        visibility: hidden;
        width: 100%;
        padding: 15px 20px;
        font-family: $fontLight;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        color: $fontColor;
        transition: visibility $duration;
        border-bottom: 1px solid #ddd;
        &--active {
            color: $secondLight;
        }
        &:hover {
            color: $primLight;
            border-color: $fontColor;
            background-color: $fontColor;
        }
    }

    @supports (display: $flex) {
        &__wrapper {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
        }
        & &__logo {
            order: -2;
            margin-right: auto;
        }
        &__relay {
            margin-left: 15px;
        }
        &__item {
            &--active {
                display: inline-block;
                visibility: visible;
                width: auto;
                order: -1;
                padding: 0;
                border-bottom: none;
                &:hover {
                    color: $secondLight;
                    background-color: transparent;
                }
            }
        }
    }

    @include max($medium - 1) {
        &--open {
            height: 100%;
            animation: scroll .1s $duration forwards;
        }
        &__relay {
            &--pressed {
                border-color: $primDark;
                &::before {
                    background-color: $primDark;
                }
            }
        }
        &__item {
            &--visible {
                visibility: visible;
            }
        }
    }

    @include min($medium) {
        height: auto;
        padding: 15px 0;
        background-color: #fff;
        &__wrapper {
            text-align: right;
            border-bottom: none;
            background-color: transparent;
        }
        & &__logo {
            float: left;
        }
        &__relay {
            display: none;
        }
        &__item {
            visibility: visible;
            width: auto;
            margin: 15px 20px 15px 10px;
            padding: 0;
            border-bottom: none;
            &:hover {
                color: $primDark;
                background-color: transparent;
            }
            &--active {
                &:hover {
                    color: $secondLight;
                }
            }
        }
        &--transition {
            transition: padding $duration;
        }
        &--thin {
            padding: 0;
        }
        @supports (display: $flex) {
            &__item {
                &--active {
                    order: 0;
                }
            }
        }
    }
}

.menu--no-js {
    height: auto;
    background-color: transparent;
    @include min($medium) {
        padding: 0;
        background-color: #fff;
    }
    .menu {
        &__logo {
            margin: 7px 10px;
        }
        &__relay {
            display: none;
        }
        &__item {
            visibility: visible;
            width: auto;
            padding: 7px 10px;
            border-bottom: none;
        }
        @include min($medium) {
            &__logo {
                margin: 15px 20px;
            }
            &__item {
                width: auto;
                margin: 15px 20px 15px 10px;
                padding: 0;
            }
            @supports (display: $flex) {
                &__logo {
                    margin-right: auto;
                }
            }
        }
    }
}

@keyframes scroll {
    100% {
        overflow-y: auto;
    }
}