include helpers/includes

doctype html
html(lang="ru")
    head
        +meta
        +title
        +styles

    body.page
        +header

        main.main
        
        +footer
        +button-up
        +scripts