/* cart
-------------------------------- */
.cart {
    font-size: 0;
    transition: opacity $duration;    
    &:hover {
        opacity: $opacity;
    }

    &__icon {
        width: 20px;
        fill: $color-primary-light;
    }
}