 - let text = content.text || 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi quaerat incidunt deserunt in eum iusto eius amet quis iste error. Distinctio explicabo facilis quo laboriosam enim. Rerum, laboriosam numquam. Atque cupiditate veritatis natus fugiat eum, iste quasi aspernatur mollitia quisquam molestias quam, voluptates, est nihil accusantium voluptatum blanditiis doloremque repellendus.'
 - if (!Array.isArray(text)) text = [text]
 each val in text
    p(class=ext)!= val